<div class="background">
  <div class="shadow p-3 mb-5 rounded head-color" style="color: #64ffda;">
    Ƭ〇ᗪ〇 ᗩᑭᑭ
  </div>
  <div class="container">
    <form action="">
      <div class="input-group p-3 mb-3" style="box-shadow: #072f4b;">
        <input type="text" class="form-control" placeholder="Task" #itemTitle>
        <button
          class="btn"
          type="button"
          style="color:#072f4b;background-color:#64ffda; font-weight:800;"
          (click) = "onAdd(itemTitle)"
        >
          Add Task
        </button>
      </div>
    </form>
  </div>

  <div class="jumbotron" style="margin: 2px 0px; background-color: #072f4b;">
    <ul class="list-group" style="background-color: #072f4b;">
      <li class="list-group-item" *ngFor="let item of todoListArray">
        <span class="hover-cursor" [class.text-success]="item.isChecked" (click)="alterCheck(item.$key, item.isChecked)">
          <i class="fa fa-lg" [ngClass]="item.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
        </span>
        {{item.title}}
        <span class="hover-cursor text-danger pull-right" (click)="onDelete(item.$key)">
          <i class="fa fa-trash-o fa-lg"></i>
        </span>
      </li>
    </ul>
  </div>
</div>
